<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VWT</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <form class="auth">
      <h1>Voyages within Terminal</h1>
      <br /><br />
      <div class="actions">
        <button>Login</button>
        <br class="mobile" />
        <button>Register</button>
      </div>
    </form>
  </body>
</html>
