@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

:root {
  --base: #171717;
  --text: #dfd3c3;
}

::selection {
  background: var(--text);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  outline: none;
}

button {
  background: transparent;
  border: 1px solid var(--text);
  border-radius: 4px;
  color: var(--text);
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: all 0.15s ease-in-out;
  user-select: none;
}

button:hover {
  background: var(--text);
  color: var(--base);
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid var(--text);
  color: var(--text);
  width: 14rem;
  text-align: center;
}

label {
  user-select: none;
}

main {
  background-color: var(--base);
  color: var(--text);
  width: 100vw;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formField {
  text-align: right;
}

@media only screen and (max-width: 425px) {

}
